@import "bootstrap";
@import "coworkers";
@import "reviews";
@import "tours";
@import "users";
@import "birds";

@function black($opacity) {
  @return rgba(black, $opacity);
}

@function white($opacity) {
  @return rgba(white, $opacity);
}

$background-color: #222;
$font-color: #a9a9a9;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Quicksand', sans-serif;
}
