@import "bootstrap";
@import "coworkers";
@import "reviews";
@import "tours";
@import "users";
@import "birds";

$background-color: #222;
$font-color: #a9a9a9;

body {
  background-color: $background-color;
  color: $font-color;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 2em;
}

.link-back {
  top: 50%;
  transform: translateY(-50%);
  left: 1em;
}
